%tr
  %td.user_number
    = user.id
  %td
    = image_tag user.avatar, :class => "img-circle tw_avatar"
  %td
    = user.name
  %td
    = user.role
  %td
    = user.created_at.strftime("%b %d, %Y")
  %td
    = link_to content_tag('i','',class:'fa fa-pencil-square-o') + '  Edit', edit_user_path(user), :class=>'btn btn-primary'
  %td
    = link_to content_tag('i','',class:'fa fa-trash-o') + '  Delete', user, :method=>:delete, :class=>'btn btn-danger'
  %td
    = link_to content_tag('i','',class:'fa fa-envelope-open') + '  User Profile', user_path(user.id), :remote => true, :class => 'static-popup-link btn btn-primary', :data => { :target => "#item_#{user.id}", :toggle => 'modal' }
    .modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", :id => "item_#{user.id}"}
      Loading ...