%header.header
  %nav.navbar.tw.navbar-fixed-top
    .container
      .navbar-header
        %button.navbar-toggle.collapsed{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand.br_name{:href => root_path}
          = image_tag 'logo.png'
      .navbar-collapse.collapse
        %ul.nav.navbar-nav
          %li
            = link_to "Add New User", new_user_path
      / /.nav-collapse
.container
  .row
    .col-lg-12.bl_ls
      %p Search by User
      = select_tag 'user-select', options_for_select(@users.collect{ |u| [u.name, u.id, { 'data-url ' => u.id }] })
.container
  .row
    - if flash[:notice]
      .alert.alert-success
        = flash[:notice]
    .col-md-12
      %table.table.table-bordered.table-hover
        %thead
          %tr
            %th
              %i.fa.fa-list-ol{"aria-hidden" => "true"}
            %th
              %i.fa.fa-camera{"aria-hidden" => "true"}
              Avatar
            %th
              %i.fa.fa-address-card{"aria-hidden" => "true"}
              Name
            %th
              %i.fa.fa-user{"aria-hidden" => "true"}
              User Role
            %th
              %i.fa.fa-calendar{"aria-hidden" => "true"}
              Registration date
            %th
              %i.fa.fa-pencil-square-o{"aria-hidden" => "true"}
              Edit Information
            %th
              %i.fa.fa-trash-o{"aria-hidden" => "true"}
              Delete
            %th
              %i.fa.fa-envelope-open{"aria-hidden" => "true"}
              Short Information
        %tbody.users_list
          = @users.each do |user|
            = render :partial => 'user', :object => user
      %div
        = will_paginate @users
.stop